node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.vscode
.claude
.netlify
.circleci
tests
playwright.visual.config.ts
server.test.ts
vitest.config.ts
tsconfig.json
vite.config.ts
.dockerignore
dist
coverage
.coverage
